<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>{{ subject }}</title>
  </head>
  <body>
    <br>
    <div class="container">
        <form action="/preview" method="GET" target="_blank">
            <button type="submit" class="btn btn-primary">Preview</button>
            <input type="hidden" name="banner" value="{{ bannerurl }}">
            <input type="hidden" name="collectionkey" value="{{ collectionKey}}">
            <input type="hidden" name="leadParagraph" value="{{ leadParagraph }}">
            <input type="hidden" name="subject" value="{{ subject }}">
            <input type="hidden" name="secondaryBanner1" value="{{ secondaryBanner1 }}">
            <input type="hidden" name="secondaryBanner2" value="{{ secondaryBanner2 }}">
            <input type="hidden" name="secondaryBanner3" value="{{ secondaryBanner3 }}">
            <input type="hidden" name="secondaryBannerSectionTitle" value="{{ secondaryBannerSectionTitle }}">
            <input type="hidden" name="keuntunganDaruma" value="{{ keuntunganDaruma }}">
            <input type="hidden" name="logoDaruma" value="{{ logoDaruma }}">
            <input type="hidden" name="secondaryBanner1Url" value="{{ secondaryBanner1Url }}">
            <input type="hidden" name="secondaryBanner2Url" value="{{ secondaryBanner2Url }}">
            <input type="hidden" name="secondaryBanner3Url" value="{{ secondaryBanner3Url }}">
            <input type="hidden" name="collectionProductKeys" value="{{ collectionProductKeys }}">
            <input type="hidden" name="mainBannerUrl" value="{{ mainBannerUrl }}">
            <input type="hidden" name="footerBanner" value="{{ footerBanner }}">
        </form>
        <br>
        <table style="border-spacing: 0" class="table table-bordered">
        <tbody>
            <tr>
                <th scope="col">
                    Subject
                </th>
                <td>{{ subject }}</td>
            </tr>
            <tr>
                <th scope="col">
                    Collection Key
                </th>
                <td>{{ collectionKey }}</td>
            </tr>
            <tr>
                <th scope="col">
                    collection Product Keys
                </th>
                <td>
                    {{ collectionProductKeys }}
                </td>
            </tr>
            <tr>
                <th scope="col">
                    Lead Paragraph
                </th>
                <td>{{ leadParagraph }}</td>
            </tr>
            <tr>
                <th scope="col">
                    Main Banner Url
                </th>
                <td> {{ mainBannerUrl }}</td>
            </tr>
            <tr>
                <th scope="col">
                    SecondaryBannerSectionTitle
                </th>
                <td> {{ secondaryBannerSectionTitle }}</td>
            </tr>
            <tr>
                <th scope="col">
                    Banner Url
                </th>
                <td> {{ bannerurl }}</td>
            </tr>
            <tr>
                <th scope="col">
                    Footer Banner
                </th>
                <td> {{ footerBanner }}</td>
            </tr>
            <tr>
                <th scope="col">
                    SecondaryBanner1
                </th>
                <td> {{ secondaryBanner1 }}</td>
            </tr>
            <tr>
                <th scope="col">
                    SecondaryBanner2
                </th>
                <td> {{ secondaryBanner2 }}</td>
            </tr>
            <tr>
                <th scope="col">
                    SecondaryBanner3
                </th>
                <td> {{ secondaryBanner3 }}</td>
            </tr>
            <tr>
                <th scope="col">
                    SecondaryBanner1Url
                </th>
                <td> {{ secondaryBanner1Url }}</td>
            </tr>
            <tr>
                <th scope="col">
                    SecondaryBanner2Url
                </th>
                <td> {{ secondaryBanner2Url }}</td>
            </tr>
            <tr>
                <th scope="col">
                    SecondaryBanner3Url
                </th>
                <td> {{ secondaryBanner3Url }}</td>
            </tr>
            <tr>
                <th scope="col">
                    Post Date
                </th>
                <td> {{ postdate }} </td>
            </tr>
        </tbody>
    </table>
    <!--<form action="/create" method="GET">-->
            <!--<button type="submit" class="btn btn-primary">SEND</button>-->
            <!--<input type="hidden" name="banner" value="{{ bannerurl }}">-->
            <!--<input type="hidden" name="collectionkey" value="{{ collectionKey}}">-->
            <!--<input type="hidden" name="subject" value="{{ subject}}">-->
            <!--<input type="hidden" name="leadParagraph" value="{{ leadParagraph }}">-->
            <!--<input type="hidden" name="subject" value="{{ subject }}">-->
            <!--<input type="hidden" name="secondaryBanner1" value="{{ secondaryBanner1 }}">-->
            <!--<input type="hidden" name="secondaryBanner2" value="{{ secondaryBanner2 }}">-->
            <!--<input type="hidden" name="secondaryBanner3" value="{{ secondaryBanner3 }}">-->
            <!--<input type="hidden" name="secondaryBannerSectionTitle" value="{{ secondaryBannerSectionTitle }}">-->
            <!--<input type="hidden" name="keuntunganDaruma" value="{{ keuntunganDaruma }}">-->
            <!--<input type="hidden" name="logoDaruma" value="{{ logoDaruma }}">-->
            <!--<input type="hidden" name="secondaryBanner1Url" value="{{ secondaryBanner1Url }}">-->
            <!--<input type="hidden" name="secondaryBanner2Url" value="{{ secondaryBanner2Url }}">-->
            <!--<input type="hidden" name="secondaryBanner3Url" value="{{ secondaryBanner3Url }}">-->
            <!--<input type="hidden" name="collectionProductKeys" value="{{ collectionProductKeys }}">-->
            <!--<input type="hidden" name="mainBannerUrl" value="{{ mainBannerUrl }}">-->
            <!--<input type="hidden" name="footerBanner" value="{{ footerBanner }}">-->
        <!--</form>-->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          SEND
        </button>
        <br>
        <br>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="/create" method="GET">
                  <div class="form-group">
                    <input type="text" name="listName" class="form-control" id="listName" placeholder="Enter list name">
                    <br>
                    <input type="email" name="sender" class="form-control" id="sender" placeholder="Sender email (use this field if you want to send a single newsletter)">
                    <br>
                    <input type="email" name="target" class="form-control" id="target" placeholder="Target email (use this form if you want to send a single newsletter)">
                    <br>
                    <input type="hidden" name="banner" value="{{ bannerurl }}">
                    <input type="hidden" name="collectionkey" value="{{ collectionKey}}">
                    <input type="hidden" name="subject" value="{{ subject}}">
                    <input type="hidden" name="leadParagraph" value="{{ leadParagraph }}">
                    <input type="hidden" name="subject" value="{{ subject }}">
                    <input type="hidden" name="secondaryBanner1" value="{{ secondaryBanner1 }}">
                    <input type="hidden" name="secondaryBanner2" value="{{ secondaryBanner2 }}">
                    <input type="hidden" name="secondaryBanner3" value="{{ secondaryBanner3 }}">
                    <input type="hidden" name="secondaryBannerSectionTitle" value="{{ secondaryBannerSectionTitle }}">
                    <input type="hidden" name="keuntunganDaruma" value="{{ keuntunganDaruma }}">
                    <input type="hidden" name="logoDaruma" value="{{ logoDaruma }}">
                    <input type="hidden" name="secondaryBanner1Url" value="{{ secondaryBanner1Url }}">
                    <input type="hidden" name="secondaryBanner2Url" value="{{ secondaryBanner2Url }}">
                    <input type="hidden" name="secondaryBanner3Url" value="{{ secondaryBanner3Url }}">
                    <input type="hidden" name="collectionProductKeys" value="{{ collectionProductKeys }}">
                    <input type="hidden" name="mainBannerUrl" value="{{ mainBannerUrl }}">
                    <input type="hidden" name="footerBanner" value="{{ footerBanner }}">
                  </div>
                  <button type="submit" class="btn btn-primary">OK</button>
                </form>
              </div>
            </div>
          </div>
        </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>