﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{{ subject }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body style="background-color:#e0e0e0; margin:0; padding:0;">
<table style="padding:0; margin:auto; border-spacing:0; max-width:580px;">
    <tr>
        <td>
            <table style="padding:0; margin:0; border-spacing:0; border:none; background-color:transparent;">
                <tr>

                    <td style="padding:0;">
                        <div class="container" style="padding-top: 10px; padding-bottom: 10px;">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModal">SEND TEST
                            </button>
                            <button type="button" class="btn btn-warning" data-toggle="modal"
                                    data-target="#sendCampaign">SEND CAMPAIGN
                            </button>
                            <a href="/view_schedule" target="_blank" type="button" class="btn btn-dark">SCHEDULED CAMPAIGN
                            </a>
                        </div>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-danger">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </td>
                </tr>
            </table>

        </td>
    </tr>

</table>





<!-- Modal SEND -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">SEND TEST</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/send_newsletter" method="GET">
                    <div class="form-group">

                        <input type="text" name="target" class="form-control" id="target"
                               placeholder="Target Email" required>

                        <input type="hidden" name="listId" value="None">
                        <input type="hidden" name="entry_id" value="{{entry_id}}">
                        <input type="hidden" name="bannerurl" value="{{ bannerurl }}">
                        <input type="hidden" name="result" value="{{ result }}">
                        <input type="hidden" name="result1" value="{{ result1 }}">
                        <input type="hidden" name="result2" value="{{ result2 }}">
                        <input type="hidden" name="collectionkey" value="{{ collectionkey}}">
                        <input type="hidden" name="subject" value="{{ subject}}">
                        <input type="hidden" name="leadParagraph" value="{{ leadParagraph }}">
                        <input type="hidden" name="secondaryBanner1" value="{{ secondaryBanner1 }}">
                        <input type="hidden" name="secondaryBanner2" value="{{ secondaryBanner2 }}">
                        <input type="hidden" name="secondaryBanner3" value="{{ secondaryBanner3 }}">
                        <input type="hidden" name="secondaryBannerSectionTitle" value="{{ secondaryBannerSectionTitle }}">
                        <input type="hidden" name="keuntunganDaruma" value="{{ keuntunganDaruma }}">
                        <input type="hidden" name="logoDaruma" value="{{ logoDaruma }}">
                        <input type="hidden" name="secondaryBanner1Url" value="{{ secondaryBanner1Url }}">
                        <input type="hidden" name="secondaryBanner2Url" value="{{ secondaryBanner2Url }}">
                        <input type="hidden" name="secondaryBanner3Url" value="{{ secondaryBanner3Url }}">
                        <input type="hidden" name="collectionProductKeys" value="{{ collectionProductKeys }}">
                        <input type="hidden" name="mainBannerUrl" value="{{ mainBannerUrl }}">
                        <input type="hidden" name="footerBanner" value="{{ footerBanner }}">
                        <input type="hidden" name="collectionProductKeys" value="{{ collectionProductKeys }}">
                        <input type="hidden" name="footerBannerUrl" value="{{ footerBannerUrl }}">
                    </div>
                    <button type="submit" class="btn btn-primary">SEND NOW</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal SENDCAMPAIGN -->
<div class="modal fade" id="sendCampaign" tabindex="-1" role="dialog" aria-labelledby="sendCampaignLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sendCampaignLabel">SEND CAMPAIGN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">

                        <label class="my-1 mr-2" for="listId">Choose List Name</label>
                          <select id="listId" name="listId" class="custom-select my-1 mr-sm-2" required>
                            {% for list in lists %}
                            <option value="{{ list['id'], list['name'], list['count'] }}"><span>{{ list['name'] }}</span><span id="count"> ({{ list['count'] }} emails)</span></option>
                            {% endfor %}
                          </select>
                        <br>
                    </div>
                    <button onclick="myFunction()"
                        type="submit"
                        class="btn btn-primary"
                        data-toggle="modal"
                        data-target="#yesCampaign"
                        data-dismiss="modal">
                    SEND NOW
                    </button>
                    <button
                        type="submit"
                        class="btn btn-dark"
                        data-toggle="modal"
                        data-target="#schedule"
                        data-dismiss="modal">
                    SET SCHEDULE
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="yesCampaign" tabindex="-1" role="dialog" aria-labelledby="sendCampaignLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="yesCampaignLabel">SEND CAMPAIGN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <strong><p id="list_name"></p></strong>
                <form action="/send_newsletter" method="GET">
                    <div class="form-group">
                        <input type="hidden" id="idList" name="listId">
                        <input type="hidden" name="bannerurl" value="{{ bannerurl }}">
                        <input type="hidden" name="result" value="{{ result }}">
                        <input type="hidden" name="entry_id" value="{{ entry_id }}">
                        <input type="hidden" name="result1" value="{{ result1 }}">
                        <input type="hidden" name="result2" value="{{ result2 }}">
                        <input type="hidden" name="collectionkey" value="{{ collectionkey}}">
                        <input type="hidden" name="subject" value="{{ subject}}">
                        <input type="hidden" name="leadParagraph" value="{{ leadParagraph }}">
                        <input type="hidden" name="secondaryBanner1" value="{{ secondaryBanner1 }}">
                        <input type="hidden" name="secondaryBanner2" value="{{ secondaryBanner2 }}">
                        <input type="hidden" name="secondaryBanner3" value="{{ secondaryBanner3 }}">
                        <input type="hidden" name="secondaryBannerSectionTitle" value="{{ secondaryBannerSectionTitle }}">
                        <input type="hidden" name="keuntunganDaruma" value="{{ keuntunganDaruma }}">
                        <input type="hidden" name="logoDaruma" value="{{ logoDaruma }}">
                        <input type="hidden" name="secondaryBanner1Url" value="{{ secondaryBanner1Url }}">
                        <input type="hidden" name="secondaryBanner2Url" value="{{ secondaryBanner2Url }}">
                        <input type="hidden" name="secondaryBanner3Url" value="{{ secondaryBanner3Url }}">
                        <input type="hidden" name="collectionProductKeys" value="{{ collectionProductKeys }}">
                        <input type="hidden" name="mainBannerUrl" value="{{ mainBannerUrl }}">
                        <input type="hidden" name="footerBanner" value="{{ footerBanner }}">
                        <input type="hidden" name="collectionProductKeys" value="{{ collectionProductKeys }}">
                        <input type="hidden" name="footerBannerUrl" value="{{ footerBannerUrl }}">
                    </div>
                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#yesCampaign">
                            YES
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="schedule" tabindex="-1" role="dialog" aria-labelledby="sendCampaignLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scheduleLabel">SET SCHEDULE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="/insert_schedule" method="post">
                    <div class="form-group">

                        <label class="my-1 mr-2" for="listIdSchedule">Choose List Name:</label>
                          <select id="listIdSchedule" name="listId" class="custom-select my-1 mr-sm-2" required>
                            {% for list in lists %}
                            <option value="{{ list['id'], list['name'], list['count'] }}"><span>{{ list['name'] }}</span><span id="count"> ({{ list['count'] }} emails)</span></option>
                            {% endfor %}
                          </select>
                        <label class="my-1 mr-2" for="listIdSchedule">Select a Date and Time: <span class="text-muted">eg: 02:30 PM</span></label><br>
                        <input id="dateSchedule" type="date" name="dateSchedule" required>
                        <input id="timeSchedule" type="time" name="timeSchedule" required>
                        <input type="hidden" name="subject" value="{{ subject }}">
                        <input type="hidden" name="id" value="{{ entry_id }}">
                        <input type="hidden" name="id" value="{{ entry_id }}">
                        <br>
                    </div>
                    <button
                        type="submit"
                        class="btn btn-primary">
                        OK
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>



<!--<form action="/send_newsletter" method="GET">
                    <div class="form-group">

                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Choose List Name</label>
                          <select name="listId" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" required>
                            {% for list in lists %}
                            <option value="{{list['id']}}">{{ list['name'] }} ({{ list['count'] }} emails)</option>
                            {% endfor %}
                          </select>
                        <br>

                        <input type="hidden" name="bannerurl" value="{{ bannerurl }}">
                        <input type="hidden" name="result" value="{{ result }}">
                        <input type="hidden" name="result1" value="{{ result1 }}">
                        <input type="hidden" name="result2" value="{{ result2 }}">
                        <input type="hidden" name="collectionkey" value="{{ collectionkey}}">
                        <input type="hidden" name="subject" value="{{ subject}}">
                        <input type="hidden" name="leadParagraph" value="{{ leadParagraph }}">
                        <input type="hidden" name="secondaryBanner1" value="{{ secondaryBanner1 }}">
                        <input type="hidden" name="secondaryBanner2" value="{{ secondaryBanner2 }}">
                        <input type="hidden" name="secondaryBanner3" value="{{ secondaryBanner3 }}">
                        <input type="hidden" name="secondaryBannerSectionTitle" value="{{ secondaryBannerSectionTitle }}">
                        <input type="hidden" name="keuntunganDaruma" value="{{ keuntunganDaruma }}">
                        <input type="hidden" name="logoDaruma" value="{{ logoDaruma }}">
                        <input type="hidden" name="secondaryBanner1Url" value="{{ secondaryBanner1Url }}">
                        <input type="hidden" name="secondaryBanner2Url" value="{{ secondaryBanner2Url }}">
                        <input type="hidden" name="secondaryBanner3Url" value="{{ secondaryBanner3Url }}">
                        <input type="hidden" name="collectionProductKeys" value="{{ collectionProductKeys }}">
                        <input type="hidden" name="mainBannerUrl" value="{{ mainBannerUrl }}">
                        <input type="hidden" name="footerBanner" value="{{ footerBanner }}">
                        <input type="hidden" name="collectionProductKeys" value="{{ collectionProductKeys }}">
                    </div>
                </form>-->

<!--<div class="modal fade" id="sendCampaign" tabindex="-1" role="dialog" aria-labelledby="sendCampaignLabel"-->
     <!--aria-hidden="true">-->
    <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<h5 class="modal-title" id="sendCampaignLabel">SEND CAMPAIGN</h5>-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<form action="/send_newsletter" method="GET">-->
                    <!--<div class="form-group">-->

                        <!--<label class="my-1 mr-2" for="inlineFormCustomSelectPref">Choose List Name</label>-->
                          <!--<select name="listId" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" required>-->
                            <!--{% for list in lists %}-->
                            <!--<option value="{{list['id']}}">{{ list['name'] }} ({{ list['count'] }} emails)</option>-->
                            <!--{% endfor %}-->
                          <!--</select>-->
                        <!--<br>-->

                        <!--<input type="hidden" name="bannerurl" value="{{ bannerurl }}">-->
                        <!--<input type="hidden" name="result" value="{{ result }}">-->
                        <!--<input type="hidden" name="result1" value="{{ result1 }}">-->
                        <!--<input type="hidden" name="result2" value="{{ result2 }}">-->
                        <!--<input type="hidden" name="collectionkey" value="{{ collectionkey}}">-->
                        <!--<input type="hidden" name="subject" value="{{ subject}}">-->
                        <!--<input type="hidden" name="leadParagraph" value="{{ leadParagraph }}">-->
                        <!--<input type="hidden" name="secondaryBanner1" value="{{ secondaryBanner1 }}">-->
                        <!--<input type="hidden" name="secondaryBanner2" value="{{ secondaryBanner2 }}">-->
                        <!--<input type="hidden" name="secondaryBanner3" value="{{ secondaryBanner3 }}">-->
                        <!--<input type="hidden" name="secondaryBannerSectionTitle" value="{{ secondaryBannerSectionTitle }}">-->
                        <!--<input type="hidden" name="keuntunganDaruma" value="{{ keuntunganDaruma }}">-->
                        <!--<input type="hidden" name="logoDaruma" value="{{ logoDaruma }}">-->
                        <!--<input type="hidden" name="secondaryBanner1Url" value="{{ secondaryBanner1Url }}">-->
                        <!--<input type="hidden" name="secondaryBanner2Url" value="{{ secondaryBanner2Url }}">-->
                        <!--<input type="hidden" name="secondaryBanner3Url" value="{{ secondaryBanner3Url }}">-->
                        <!--<input type="hidden" name="collectionProductKeys" value="{{ collectionProductKeys }}">-->
                        <!--<input type="hidden" name="mainBannerUrl" value="{{ mainBannerUrl }}">-->
                        <!--<input type="hidden" name="footerBanner" value="{{ footerBanner }}">-->
                        <!--<input type="hidden" name="collectionProductKeys" value="{{ collectionProductKeys }}">-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-primary">SEND NOW</button>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


{% include 'template.html' %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script>
function myFunction() {
    var str = $("#listId").val();
    let _str = str.replace("(", '').replace("'", '').replace("'", '').replace(')', '');
    let array_val = _str.split(',');

    var str = `This will send this newsletter to ${array_val[2]} emails in ${array_val[1]} NOW! Are you sure?`

    $("#idList").val(array_val[0]);
    $("#list_name").html(str);
}

function myFunctionSchedule() {
    var str = $("#listIdSchedule").val();
    let _str = str.replace("(", '').replace("'", '').replace("'", '').replace(')', '');
    let array_val = _str.split(',');

    var str = `This will send this newsletter to ${array_val[2]} emails in ${array_val[1]} NOW! Are you sure?`

    $("#idListSchedule").val(array_val[0]);
    $("#list_nameSchedule").html(str);
}
</script>

</body>
</html>
