<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daruma Newsletter Scheduler</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>


    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Daruma Newsletter</a>
    </nav>

    <main role="main" class="container">
      <div class="jumbotron">
        <h1 class="text-center">Daruma Newsletter Schedule</h1>
      </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">List Name</th>
                <th scope="col">Subject</th>
                <th scope="col">Status</th>
                <th scope="col">Post Date</th>
            </tr>
            </thead>
            <tbody>
            {% for schedule in schedules %}
            <tr>
                <th scope="row">{{schedule['no']}}</th>
                <td>{{schedule['list_name']}}</td>
                <td>{{schedule['subject']}}</td>
                {% if schedule['status'] == 'pending' %}
                <td><p class="text-primary">{{schedule['status']}}</p></td>
                {% endif %}
                {% if schedule['status'] == 'delivered' %}
                <td><p class="text-success">{{schedule['status']}}</p></td>
                {% endif %}
                {% if schedule['status'] == 'canceled' %}
                <td><p class="text-muted">{{schedule['status']}}</p></td>
                {% endif %}
                {% if schedule['status'] == 'error' %}
                <td><p class="text-danger">{{schedule['error']}}</p></td>
                {% endif %}
                <td>{{schedule['post_date']}}</td>
                <td>
                    {% if schedule['status'] == 'delivered' %}
                    <div></div>
                    {% elif schedule['status'] == 'canceled' %}
                    <div></div>
                    {% else %}
                    <form action="/cancel_schedule" method="post">
                        <input type="hidden" name="no" value="{{schedule['no']}}">
                        <button type="submit" class="btn btn-danger btn-sm">cancel</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>