<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ subject }}</title>
</head>

<!--<body style="background-color:#e0e0e0; margin:0; padding:0;">-->
<body width="100%" style="mso-line-height-rule: exactly; background-color:#e0e0e0; margin:0; padding:0;">
<!-- <style> -->
<!--<table style="padding:0; margin:auto; border-spacing:0; max-width:580px;">-->
<table role="presentation" margin="auto" border="0" cellpadding="0" cellspacing="0" max-width="580px;" bgcolor="#e0e0e0"
       style="padding:0; margin:auto; border-spacing:0; max-width:580px;">
    <tr>
        <td>
            <table style="padding:0; margin:0; border-spacing:0; border:none; background-color:#ffffff;">
                <tr>

                    {% if bannerurl != 'null' %}
                    <td style="padding:0;">
                        <a href="{{ mainBannerUrl }}"><img src="http://{{ bannerurl }}" alt="{{ subject }}"
                                                           align="center"
                                                           style="width:100%;border-style:none;-ms-interpolation-mode:bicubic;max-width:100%;"></a>
                    </td>
                    {% else %}
                    <td style="padding:0;">

                    </td>
                    {% endif %}
                </tr>
                {% if leadParagraph != 'null' %}
                <tr>
                    <td style="padding:1em;">
                        {{ leadParagraph | safe }}

                    </td>
                </tr>
                {% else %}
                <tr>
                    <td style="text-align:center; padding:1em;">

                    </td>
                </tr>
                {% endif %}
            </table>

        </td>
    </tr>
    <tr>
        <td style="height:.5em;"></td>
    </tr>
    <tr>
        <td>

            <table style="width:100%; padding:0; margin:0; border-spacing:1px; border:none; background-color:#999999;">
                <tr>
                    <!--row begin-->
                    {% for item in result1 %}
                    <td style="width:33.3%; padding:0;text-align:center; background-color:#ffffff;">
                        <a href="{{ item['product_url'] }}"><img src="{{ item['img_url'] }}" align="center"
                                                                 style="border-style:none ;-ms-interpolation-mode:bicubic;max-width:100%;"></a>
                        <a style="text-decoration: none" href="{{ item['product_url'] }}"><p
                                class="text-center small-10"
                                style="color: black; padding-top:0;padding-bottom:0;padding-right:2px;padding-left:2px;margin-bottom:5px;height:30px;overflow:hidden;font-family:sans-serif;font-size:12px;font-weight:normal;margin:0; line-height: 1.2">
                            {{ item['name'] }}</p></a>
                        <a style="text-decoration: none" href="{{ item['product_url'] }}"><p
                                class="text-center small-12"
                                style="color: black; margin-bottom:5px;font-family:sans-serif;font-size:12px;font-weight:normal;margin-top:0;margin-right:0;margin-left:0;Margin-bottom:15px;">
                            <strong>{{ item['price'] }}</strong><strong
                                style="color:red; font-size: 10px; text-decoration: line-through">{{
                            item['price_before_discount'] }}</strong></p></a>
                    </td>
                    {% endfor %}
                </tr>
                <tr>

                    {% for item in result2 %}
                    <td style="width:33.3%; padding:0;text-align:center;  background-color:#ffffff;">
                        <a href="{{ item['product_url'] }}"><img src="{{ item['img_url'] }}" align="center"
                                                                 style="border-style:none ;-ms-interpolation-mode:bicubic;max-width:100%;"></a>
                        <a style="text-decoration: none" href="{{ item['product_url'] }}"><p
                                class="text-center small-10"
                                style="color: black; padding-top:0;padding-bottom:0;padding-right:2px;padding-left:2px;margin-bottom:5px;height:30px;overflow:hidden;font-family:sans-serif;font-size:12px;font-weight:normal;margin:0; line-height: 1.2">
                            {{ item['name'] }}</p></a>
                        <a style="text-decoration: none" href="{{ item['product_url'] }}"><p
                                class="text-center small-12"
                                style="color: black; margin-bottom:5px;font-family:sans-serif;font-size:12px;font-weight:normal;margin-top:0;margin-right:0;margin-left:0;Margin-bottom:15px;">
                            <strong>{{ item['price'] }}</strong><strong
                                style="color:red; font-size: 10px; text-decoration: line-through">{{
                            item['price_before_discount'] }}</strong></p></a>
                    </td>
                    {% endfor %}
                </tr>
            </table>
            <table style="width:100%; padding:0; margin:0; border-spacing:1px; border:none; background-color:#999999;">
                {% if collectionkey != 'null' %}
                <tr>
                    <td>
                        <a colspan="3"
                           style="text-decoration: none; display: block; text-align:center; background-color:indianred; padding:.4em; color:white;"
                           type="button" href="https://www.daruma.co.id/{{ collectionkey }}.html"><strong>LIHAT
                            SEMUA</strong></a>
                    </td>
                </tr>
                {% else %}
                <tr>

                </tr>
                {% endif %}
            </table>
        </td>
    </tr>
    <tr>
        <td style="height:.5em;"></td>
    </tr>
    <tr>
        <td>

            <table style="width:100%; padding:0; margin:0; border-spacing:1px; border:none; background-color:#999999;">
                <tr>
                    <!--row begin-->
                    {% for item in result1_2 %}
                    <td style="width:33.3%; padding:0;text-align:center; background-color:#ffffff;">
                        <a href="{{ item['product_url'] }}"><img src="{{ item['img_url'] }}" align="center"
                                                                 style="border-style:none ;-ms-interpolation-mode:bicubic;max-width:100%;"></a>
                        <a style="text-decoration: none" href="{{ item['product_url'] }}"><p
                                class="text-center small-10"
                                style="color: black; padding-top:0;padding-bottom:0;padding-right:2px;padding-left:2px;margin-bottom:5px;height:30px;overflow:hidden;font-family:sans-serif;font-size:12px;font-weight:normal;margin:0; line-height: 1.2">
                            {{ item['name'] }}</p></a>
                        <a style="text-decoration: none" href="{{ item['product_url'] }}"><p
                                class="text-center small-12"
                                style="color: black; margin-bottom:5px;font-family:sans-serif;font-size:12px;font-weight:normal;margin-top:0;margin-right:0;margin-left:0;Margin-bottom:15px;">
                            <strong>{{ item['price'] }}</strong><strong
                                style="color:red; font-size: 10px; text-decoration: line-through">{{
                            item['price_before_discount'] }}</strong></p></a>
                    </td>
                    {% endfor %}
                </tr>
                <tr>

                    {% for item in result2_2 %}
                    <td style="width:33.3%; padding:0;text-align:center;  background-color:#ffffff;">
                        <a href="{{ item['product_url'] }}"><img src="{{ item['img_url'] }}" align="center"
                                                                 style="border-style:none ;-ms-interpolation-mode:bicubic;max-width:100%;"></a>
                        <a style="text-decoration: none" href="{{ item['product_url'] }}"><p
                                class="text-center small-10"
                                style="color: black; padding-top:0;padding-bottom:0;padding-right:2px;padding-left:2px;margin-bottom:5px;height:30px;overflow:hidden;font-family:sans-serif;font-size:12px;font-weight:normal;margin:0; line-height: 1.2">
                            {{ item['name'] }}</p></a>
                        <a style="text-decoration: none" href="{{ item['product_url'] }}"><p
                                class="text-center small-12"
                                style="color: black; margin-bottom:5px;font-family:sans-serif;font-size:12px;font-weight:normal;margin-top:0;margin-right:0;margin-left:0;Margin-bottom:15px;">
                            <strong>{{ item['price'] }}</strong><strong
                                style="color:red; font-size: 10px; text-decoration: line-through">{{
                            item['price_before_discount'] }}</strong></p></a>
                    </td>
                    {% endfor %}
                </tr>
            </table>
            <table style="width:100%; padding:0; margin:0; border-spacing:1px; border:none; background-color:#999999;">
                <!--{% if collection2key != 'null' %}-->
                <!--<tr>-->
                    <!--<td>-->
                        <!--<a colspan="3"-->
                           <!--style="text-decoration: none; display: block; text-align:center; background-color:indianred; padding:.4em; color:white;"-->
                           <!--type="button" href="https://www.daruma.co.id/{{ collection2key }}.html"><strong>LIHAT-->
                            <!--SEMUA</strong></a>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--{% else %}-->
                <!--<tr>-->
                <!--</tr>-->
                <!--{% endif %}-->
            </table>
        </td>
    </tr>
    <tr>
        <td style="height:.5em;"></td>
    </tr>
    <tr>
        <td>

            <table style="width:100%; padding:0; margin:0; border-spacing:1px; border:none; background-color:#999999;">
                <tr>
                    <!--row begin-->
                    {% for item in result1_2 %}
                    <td style="width:33.3%; padding:0;text-align:center; background-color:#ffffff;">
                        <a href="{{ item['product_url'] }}"><img src="{{ item['img_url'] }}" align="center"
                                                                 style="border-style:none ;-ms-interpolation-mode:bicubic;max-width:100%;"></a>
                        <a style="text-decoration: none" href="{{ item['product_url'] }}"><p
                                class="text-center small-10"
                                style="color: black; padding-top:0;padding-bottom:0;padding-right:2px;padding-left:2px;margin-bottom:5px;height:30px;overflow:hidden;font-family:sans-serif;font-size:12px;font-weight:normal;margin:0; line-height: 1.2">
                            {{ item['name'] }}</p></a>
                        <a style="text-decoration: none" href="{{ item['product_url'] }}"><p
                                class="text-center small-12"
                                style="color: black; margin-bottom:5px;font-family:sans-serif;font-size:12px;font-weight:normal;margin-top:0;margin-right:0;margin-left:0;Margin-bottom:15px;">
                            <strong>{{ item['price'] }}</strong><strong
                                style="color:red; font-size: 10px; text-decoration: line-through">{{
                            item['price_before_discount'] }}</strong></p></a>
                    </td>
                    {% endfor %}
                </tr>
                <tr>

                    {% for item in result2_2 %}
                    <td style="width:33.3%; padding:0;text-align:center;  background-color:#ffffff;">
                        <a href="{{ item['product_url'] }}"><img src="{{ item['img_url'] }}" align="center"
                                                                 style="border-style:none ;-ms-interpolation-mode:bicubic;max-width:100%;"></a>
                        <a style="text-decoration: none" href="{{ item['product_url'] }}"><p
                                class="text-center small-10"
                                style="color: black; padding-top:0;padding-bottom:0;padding-right:2px;padding-left:2px;margin-bottom:5px;height:30px;overflow:hidden;font-family:sans-serif;font-size:12px;font-weight:normal;margin:0; line-height: 1.2">
                            {{ item['name'] }}</p></a>
                        <a style="text-decoration: none" href="{{ item['product_url'] }}"><p
                                class="text-center small-12"
                                style="color: black; margin-bottom:5px;font-family:sans-serif;font-size:12px;font-weight:normal;margin-top:0;margin-right:0;margin-left:0;Margin-bottom:15px;">
                            <strong>{{ item['price'] }}</strong><strong
                                style="color:red; font-size: 10px; text-decoration: line-through">{{
                            item['price_before_discount'] }}</strong></p></a>
                    </td>
                    {% endfor %}
                </tr>
            </table>
            <table style="width:100%; padding:0; margin:0; border-spacing:1px; border:none; background-color:#999999;">
                {% if collection2key != 'null' %}
                <tr>
                    <td>
                        <a colspan="3"
                           style="text-decoration: none; display: block; text-align:center; background-color:indianred; padding:.4em; color:white;"
                           type="button" href="https://www.daruma.co.id/{{ collection2key }}.html"><strong>LIHAT
                            SEMUA</strong></a>
                    </td>
                </tr>
                {% else %}
                <tr>
                </tr>
                {% endif %}
            </table>
        </td>
    </tr>
    <tr>
        <td style="height:.5em;"></td>
    </tr>
    <tr>
        <td>
            {% if secondaryBanner1 !='null' and secondaryBanner2 != 'null' and secondaryBanner3 != 'null' %}
            <table style="padding:0; margin:0; border-spacing:0; border:none; background-color:#ffffff;">
                <tr>

                    <td style="width:33.3%; padding:0;"><a href="{{ secondaryBanner1Url }}" target="_blank"
                                                           style="color:#3498db;text-decoration:underline;"><img
                            src="http://{{ secondaryBanner1 }}" alt="secondaryBanner1"
                            style="border-style:none;-ms-interpolation-mode:bicubic;max-width:100%;"></a></td>


                    <td style="width:33.3%; padding:0;"><a href="{{ secondaryBanner2Url }}" target="_blank"
                                                           style="color:#3498db;text-decoration:underline;"><img
                            src="http://{{ secondaryBanner2 }}" alt="secondaryBanner2"
                            style="border-style:none;-ms-interpolation-mode:bicubic;max-width:100%;"></a></td>


                    <td style="width:33.3%; padding:0;"><a href="{{ secondaryBanner3Url }}" target="_blank"
                                                           style="color:#3498db;text-decoration:underline;"><img
                            src="http://{{ secondaryBanner3 }}" alt="secondaryBanner3"
                            style="border-style:none;-ms-interpolation-mode:bicubic;max-width:100%;"></a></td>
                </tr>
            </table>
            {% else %}
            <table style="padding:0; margin:0; border-spacing:0; border:none; background-color:#ffffff;">

            </table>
            {% endif %}

        </td>
    </tr>
    <tr>
        <td style="height:.5em;"></td>
    </tr>
    <tr>
        <td>
            <table style="padding:0; margin:0; border-spacing:0; border:none; background-color:#ffffff;">
                <tr>
                    <td>
                        <img src="{{ keuntunganDaruma }}" alt="" align="center"
                             style="padding: 0px;border-style:none;-ms-interpolation-mode:bicubic;max-width:100%;">
                    </td>
                </tr>
            </table>

        </td>
    </tr>

    <tr>
        <td style="height:.5em;"></td>
    </tr>

    {% if footerBanner != 'null' %}
    <tr>
        <td>
            <table style="padding:0; margin:0; border-spacing:0; border:none; background-color:#ffffff;">
                <tr>
                    <td>
                        <a href="{{ footerBannerUrl }}"><img src="http://{{ footerBanner }}" alt="{{ footerBannerUrl }}"
                                                             align="center"
                                                             style="border-style:none;-ms-interpolation-mode:bicubic;max-width:100%;"></a>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    {% else %}
    <tr>
        <td>
        </td>
    </tr>
    {% endif %}
    <tr>
        <td style="height:1em;"></td>
    </tr>
    <tr>
        <td>

            <table style="padding:0; margin:0; border-spacing:0; border:none;">
                <tr>
                    <td style="text-align: center;">
                        <img src="{{ logoDaruma }}" alt="logoDaruma" align="center"
                             style="padding-top:5px;border-style:none;-ms-interpolation-mode:bicubic;max-width:200px;">
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 0;padding-left: 1em; padding-right: 1em; padding-bottom: 1em; font-size:.85em; text-align:center;">
                        {{ footer|safe }}
                        <p style="background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:darkgray;font-family:sans-serif;font-size:12px;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;Margin-bottom:15px;">
                            Click <%asm_group_unsubscribe_url%> if you would like to unsubscribe and stop receiving
                            these emails</p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
</html>
